#nav
{
}

#nav > a
{
    display: none;
}

#nav li
{
    position: relative;
    list-style: none;
}
#nav li a
{
    color: white;
    display: block;
    text-decoration: none;
}
#nav li a:active
{
    background-color: darkred !important;
}

#nav span:after
{
    width: 0;
    height: 0;
    border: 0.313em solid transparent; /* 5 */
    border-bottom: none;
    border-top-color: yellowgreen;
    content: '';
    vertical-align: middle;
    display: inline-block;
    position: relative;
    right: -0.313em; /* 5 */
}

/* first level */

#nav > ul
{
    z-index: 1;
    height: 3.75em; /* 60 */
    background-color: crimson;
    padding: 0;
    margin: 0;
}

#nav > ul > li
{
    width: 20%; /*100% / 5 sezioni*/
    height: 100%;
    float: left;
}
#nav > ul > li > a
{
    height: 100%;
    font-size: 1.5em; /* 24 */
    line-height: 2.5em; /* 60 (24) */
    text-align: center;
}
#nav > ul > li:not( :last-child ) > a
{
    border-right: 1px solid yellowgreen;
    border-left: 1px solid yellowgreen;
}
#nav > ul > li:hover > a,
#nav > ul:not( :hover ) > li.active > a
{
    background-color: darkred;
}


/* second level */

#nav li ul
{
    width: 100%;
    padding-left: 0;
    background-color: transparent;
    display: none;
    position: absolute;
    top: 100%;
}
#nav > ul > li > ul > li{
    /*border-right: transparent 1em solid;*/
}
#nav > ul > li > ul 
{
    z-index: 2;
    position: absolute;

}

#nav li:hover > ul
{
    display: block;
    left: 0;
    right: 0;
}
#nav > ul > li > ul > li > a
{
    background-color: crimson;
}


/* third level*/

#nav > ul > li > ul > li > ul
{
    z-index: 3;
    position: absolute;
    border-left: yellowgreen 0.5em solid;
    display: none;
    background-color: crimson;
    margin-left: 1em;
}

#nav li:hover > ul > li:hover > ul
{
    display: block;
    top: 0;
    left: 100%;
}

#nav li:not( :first-child ):hover ul
{
    left: -1px;
}
#nav li ul a
{
    font-size: 1.25em; /* 20 */
    padding: 0.75em; /* 15 (20) */
}

#nav li > ul > li:not( :last-child ):first-child > a{
    border-top: 0.25em solid yellowgreen;
}
#nav li ul > li:not( :first-child ):last-child > a{
    border-bottom: 0.25em solid yellowgreen;
}
#nav > ul > li > ul > li:first-child > a{
    border-top: 0.25em solid yellowgreen;
}
#nav > ul > li > ul > li:last-child > a{
    border-bottom: 0.25em solid yellowgreen;
}
/*alternativa
#nav li ul > li:not( :last-child ):not(:first-child) > a{
    border-bottom: 0.125em solid yellowgreen;
    border-top: 0.125em solid yellowgreen;
}
    
#nav li ul > li:not( :last-child ):first-child > a{
    border-bottom: 0.125em solid yellowgreen;
}
#nav li ul > li:not( :first-child ):last-child > a{
    border-top: 0.125em solid yellowgreen;
}*/

#nav li ul li a:hover,
#nav li ul:not( :hover ) li.active a
{
    background-color: darkred;
}

#nav li a:hover
{
    cursor: pointer;
}
@media only screen and ( max-width: 40em ) /* 640 */
{

    #nav > ul
    {
        height: auto;
        display: block;
        position: static;
        left: 0;
        right: 0;
        border-left: 1em solid yellowgreen;
        margin-left: 0;
    }
    #nav:target > ul
    {
        display: block;
    }
    #nav > ul > li
    {
        width: 100%;
        float: none;
        margin: 0;
        
    }
    #nav > ul > li > a
    {
        text-align: left;
    }
    #nav > ul > li:not( :last-child ) > a
    {
        border-right: none;
        border-left: none;
    }
    
}
